/*
 * The main dark mode styles
 */

@mixin dark-scheme {
  /* Framework color */
  --main-bg: rgb(24, 24, 37);
  --mask-bg: rgb(69, 71, 90);
  --main-border-color: rgb(69, 71, 90);

  /* Common color */
  --text-color: rgb(205, 214, 244);
  --text-muted-color: rgb(186, 194, 222);
  --text-muted-hightlight-color: rgb(245, 194, 231);
  --heading-color: rgb(116, 199, 236);
  --label-color: rgb(180, 190, 254);
  --blockquote-border-color: rgb(69, 71, 90);
  --blockquote-text-color: rgb(186, 194, 222);
  --link-color: rgb(137, 180, 250);
  --link-underline-color: rgb(137, 180, 250);
  --button-bg: rgb(69, 71, 90);
  --btn-border-color: rgb(69, 71, 90);
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: rgb(69, 71, 90);
  --btn-box-shadow: var(--main-bg);
  --card-header-bg: rgb(49, 50, 68);
  --checkbox-color: rgb(235, 160, 172);
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, rgb(17, 17, 27) 0%, rgb(24, 24, 37) 100%);
  --shimmer-bg: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(58, 55, 55, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: var(--text-color);
  --site-subtitle-color: rgb(186, 194, 222);
  --sidebar-bg: rgb(30, 30, 46);
  --sidebar-border-color: rgb(69, 71, 90);
  --sidebar-muted-color: rgb(166, 173, 200);
  --sidebar-active-color: rgb(250, 179, 135);
  --sidebar-hover-bg: rgb(17, 17, 27);
  --sidebar-btn-bg: rgb(30, 30, 46);
  --sidebar-btn-color: rgb(166, 173, 200);
  --avatar-border-color: rgb(69, 71, 90);

  /* Topbar */
  --topbar-bg: rgb(24, 24, 37, 0.64);
  --topbar-text-color: var(--text-color);
  --search-border-color: rgb(69, 71, 90);
  --search-icon-color: var(--text-color);
  --input-focus-border-color: rgb(203, 166, 247);

  /* Home page */
  --post-list-text-color: var(--text-color);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: rgb(245, 194, 231);

  /* Posts */
  --toc-highlight: rgb(166, 227, 161);
  --tag-hover: rgb(116, 199, 236);
  --tb-odd-bg: rgb(30, 30, 46); /* odd rows of the posts' table */
  --tb-even-bg: rgb(31, 31, 34); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(63, 81, 181);
  --btn-share-color: var(--text-color);
  --btn-share-hover-color: rgb(245, 194, 231);
  --card-bg: rgb(30, 30, 46);
  --card-hovor-bg: rgb(49, 50, 68);
  --card-shadow: rgb(21, 21, 21, 0.72) 0 6px 18px 0,
  rgb(137, 135, 135, 0.24) 0 0 0 1px;
  --kbd-wrap-color: #6a6a6a;
  --kbd-text-color: #d3d3d3;
  --kbd-bg-color: #242424;
  --prompt-text-color: rgb(216, 212, 212, 0.75);
  --prompt-tip-bg: rgb(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
  --prompt-info-bg: rgb(7, 59, 104, 0.8);
  --prompt-info-icon-color: #0075d1;
  --prompt-warning-bg: rgb(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
  --prompt-danger-bg: rgb(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #cd0202;

  /* tags */
  --tag-border: rgb(69, 71, 90);
  --tag-shadow: rgb(32, 33, 33);
  --dash-color: rgb(63, 65, 68);
  --search-tag-bg: #292828;

  /* categories */
  --categories-border: rgb(69, 71, 90);
  --categories-hover-bg: rgb(73, 75, 76);
  --categories-icon-hover-color: white;

  /* archives */
  --timeline-node-bg: rgb(69, 71, 90);
  --timeline-color: rgb(63, 65, 68);
  --timeline-year-dot-color: var(--timeline-color);

  .light {
    display: none;
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
        to left,
        rgb(24, 24, 37),
        rgb(30, 30, 46),
        rgb(49, 50, 68),
        rgb(30, 30, 46),
        rgb(24, 24, 37)
    );
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }
} /* dark-scheme */
